[submodule "libraries/ADC"]
	path = libraries/ADC
	url = https://github.com/pedvide/ADC
[submodule "libraries/analogComp"]
	path = libraries/analogComp
	url = https://github.com/icboredman/analogComp
	branch = teensy3
[submodule "libraries/FastCRC"]
	path = libraries/FastCRC
	url = https://github.com/FrankBoesing/FastCRC
[submodule "libraries/MessageSerial"]
	path = libraries/MessageSerial
	url = https://github.com/icboredman/PacketSerial
	branch = MessageSerial
[submodule "libraries/Adafruit_BNO055"]
	path = libraries/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055
[submodule "libraries/Arduino-PID-Library"]
	path = libraries/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library
